@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0D192C;
  --cardBackground: #15263F;
  --line: #2E405A;
  --cyan: #00FFF8;
  --white: #fff;
  --softBlue: #8BACD9;
}

body {
  background: var(--background);
}
